@charset "UTF-8";
html body{max-width: 750px;margin: 0 auto}
input { font-family: '微软雅黑'; color: #333333}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, span, td, textarea, th, ul { margin: 0; padding: 0; outline: 0; -webkit-tap-highlight-color: rgba(255,0,0,0); }
li, ol, ul { margin: 0; padding: 0; list-style: none; }
input { color: #333; }
body{max-width: 750px}
u{text-decoration: none}
a { text-decoration: none; outline: 0; }

html body{max-width: 750px}
.head-nav{height: 1.31rem;line-height: 1.31rem;background: #ffffff;text-align: center;font-weight: bold;padding-right: 1.26rem;border-bottom: 1px solid #DADADA;position: relative}
.head-nav img{float: left;width: 9.33%;margin-left: 0.48rem;margin-top: 0.33rem}
.head-nav span{font-size: 0.44rem;}
.head-nav a{float: right;font-size: 0.41rem;margin-right: 0.46rem;color: #333333}



html body{}
.context{padding-bottom: 1.32rem}
.que{display: inline-block;width: 87%;height: 1.18rem;font-size: 0.4rem;line-height: 1.18rem;text-align: center;color: #ffffff;background: #D7D7D7;border-radius: 35px;margin-left: 6.5%;margin-top: 1.8rem}
.que.active{background: #FF0000}

.bank-list{margin-top: 0.5rem;margin-bottom: 0.5rem;}
.bank-list li{height: 1.32rem;line-height: 1.32rem;background: #ffffff;font-size: 0.4rem;color: #4F4F4F;padding: 0 0.54rem;position: relative}
.bank-list li input{height: 1.1rem;width: 100%;border:none;border-bottom: 1px solid #FF0000;padding: 0 1.2rem 0 0.4rem}
.xxr{position: absolute;right: 0.54rem;width: 0.28rem;top: 0.5rem}
.see-pass{position: absolute;width: 0.386rem;top:0.5rem;right: 1.2rem}



