@charset "UTF-8";
html body{max-width: 750px;margin: 0 auto}
input { font-family: '微软雅黑'; color: #333333}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, span, td, textarea, th, ul { margin: 0; padding: 0; outline: 0; -webkit-tap-highlight-color: rgba(255,0,0,0); }
li, ol, ul { margin: 0; padding: 0; list-style: none; }
input { color: #333; }
body{max-width: 750px}
u{text-decoration: none}
a { text-decoration: none; outline: 0; }

html body{max-width: 750px}
.head-nav{height: 1.31rem;line-height: 1.31rem;background: #ffffff;text-align: center;font-weight: bold;padding-right: 1.26rem;border-bottom: 1px solid #DADADA;box-shadow: 0 0 3px #ccc;position: relative}
.head-nav img{float: left;width: 9.33%;margin-left: 0.48rem;margin-top: 0.33rem}
.head-nav span{font-size: 0.44rem;}
.head-nav a{float: right;font-size: 0.41rem;margin-right: 0.46rem;color: #333333}



html body{background: #f4f4f4;}
.context{padding-bottom: 1.32rem}

.money{overflow: hidden;height: 2.2rem;text-align: center;background: #ffffff}
.money-left{float: left;width: 50%;border-right: 1px solid #F7F7F7;height:2.2rem;padding-top: 0.35rem}
.money-right{float: left;width: 50%;height:2.2rem;padding-top: 0.35rem}
.money p{color: #D81E07;font-size: 0.61rem;margin-bottom: 0;}
.money span{color: #4F4F4F;font-size: 0.4rem;font-weight: 600;}

.detailed{margin-top: 10px;border-top: 1px solid #E5E5E5;background: #ffffff}
.detailed ul{overflow: hidden;border-bottom: 1px solid #E5E5E5}
.detailed ul li{float: left;width: 33.33%;text-align: center;color: #4F4F4F;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;word-wrap: break-word;}
.detailed .list-head{height: 0.9rem;line-height: 0.9rem;font-size: 0.346rem;font-weight: 600;padding-left: 0.47rem;border-bottom: 1px solid #e5e5e5;margin-bottom: 0}
.detailed .detailed-list ul li{height: 1.28rem;line-height: 1.28rem;font-size: 0.38rem}
.detailed .detailed-list a{color: #4F4F4F;text-decoration: none}
.detailed .detailed-list{overflow: hidden}

.tou{float: left;width:100%;height: 1.9rem;background: #ffffff;border-bottom: 1px solid #E5E5E5;padding:0 0.47rem;overflow: hidden}
.ixu{float: left;color: #D81E07;line-height: 1.9rem;font-size: 0.42rem;padding-right: 0.3rem}
.detailed-list .tou:nth-child(1) .ixu{font-size: 0.48rem;color: #FF0000}
.detailed-list .tou:nth-child(2) .ixu{font-size: 0.48rem;color: #FF0000}
.detailed-list .tou:nth-child(3) .ixu{font-size: 0.48rem;color: #FF0000}
.img-box{padding-top: 7%;width: 8%;height: 1.9rem;line-height: 1.9rem;float: left}
.img-box img{width: 100%;border-radius: 50%}
.name-iph{float: left;height: 1.9rem;padding-top: 0.4rem;padding-left: 0.3rem}
.name-iph span{color: #4F4F4F;font-size: 0.374rem;display: inline-block;margin-bottom: 0.05rem;font-weight: 600;}
.name-iph p{color: #666666;font-size: 0.346rem;}
.sb-num{float: right;color: #999999;font-size: 0.346rem;font-weight: 600;line-height: 1.9rem}

.sb-num img{width: 0.32rem;margin-right:8px;}

