*{padding: 0;margin: 0;list-style-type: none;text-decoration: none;font-family:"Microsoft YaHei",Helvetica,Hiragino Sans GB,Tahoma,Geneva,\5FAE\8F6F\96C5\9ED1,simhei,Arial, sans-serif;}
a{color: #000;text-decoration: none !important;}

h1{font-weight: normal;}
img{border: none;max-width: 100%;}
html, body {position: relative;color: #666666;}
input:focus{outline:none; }

.order{padding: 20px}
.crumbs-div{}

.history{border: 1px solid #DCDCDC;}
.history>p{height: 35px;line-height: 35px;font-size: 16px;background: #f0f0f0;padding-left: 20px;margin-bottom: 0;}
.history-box{padding:0 20px;}
.history-list{border-bottom: 1px solid #DCDCDC;padding: 15px 0}
.history-list:last-child{border-bottom: none}
.history-list ul{margin-bottom: 0;padding-left: 73px;color: #666666;overflow:hidden}
.history-list li{}
.list-top{line-height: 30px}
.list-top>p{width: 35px;height: 35px;text-align: center;border: 1px solid #DCDCDC;border-radius: 50%;display: inline-block;margin-right: 10px;margin-bottom: 0}
.list-top>p img{width: 100%;border-radius: 50%;}
.list-top span{margin-right: 10px}

.right-top{margin-top: 8px;margin-left: 50px;}
list-top-two{margin-top: 0px;}

.shop-img{overflow: hidden;padding-left: 73px}
.shop-img li{float: left;margin-right: 10px;width: 100px;height: 100px;line-height: 100px;text-align: center;overflow: hidden}
.shop-img li img{width: 100%}


.refuse{border: 1px solid #DCDCDC;padding: 20px;margin-top: 30px}
.refuse>p{color: #333333;font-size: 16px;margin-bottom: 30px}
.refuse>ul{overflow: hidden;padding-left: 20px;color: #666666;}
.refuse ul>li{float: left}
.refuse ul>li:nth-child(1){width: 10%}
.refuse ul>li:nth-child(2){width: 85%}
.refuse ul>li textarea{outline: none;resize: none;width: 80%;height: 100px;padding: 10px;border: 1px solid #DCDCDC;border-radius: 3px}
.area li:nth-child(2){position: relative;padding-bottom: 15px}
.area li:nth-child(2) span{position: absolute;font-size: 12px;color: #999999;right: 20%;bottom: 0;}
.refuse ul>li input[type=file]{display: inline-block;width: 10px}
.fil>li:nth-child(1){line-height: 30px}
.fil>li:nth-child(2){position: relative;}
.fil>li:nth-child(2) label{position: absolute;left: 0;background: #ffffff;width: 100px;height: 30px;line-height:30px;text-align:center;border: 1px solid #DCDCDC;font-weight: normal;cursor: pointer;}
.fil>li:nth-child(2) span{font-size: 12px}
ol li{float:left;}
ol{overflow:hidden;}
.refuse .fil{overflow:inherit}
.refuse-btn{text-align: center}
.refuse-btn a{display: inline-block;width: 80px;text-align: center;height: 30px;line-height: 30px;color: #ffffff;background: #78A7FF;border-radius: 5px}