.check{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.3);z-index: 10000}
.check-box{width: 750px;background: #ffffff;position: absolute;top: 50%;left: 50%;margin-left: -375px;margin-top: -200px;}
.check-box>p{height: 35px;line-height: 35px;background: #f0f0f0;position: relative;text-align: center}
.check-box>p img{position: absolute;top:12px;right: 15px;cursor: pointer}
.check-box ul{overflow: hidden;padding: 10px;outline:none;list-style:none}
.check-box ul li.checkbox{float: left;width: 30%;line-height: 30px;margin-top: 0;}
.check-box ul li.checkbox input{position:relative;left:8px}
.check-btn{text-align: center;padding-bottom: 20px}
.check-btn a{display: inline-block;width: 80px;height: 30px;line-height: 30px;border-radius: 5px;border: 1px solid #dcdcdc}
.check-btn a:nth-child(1){background: #68C250;border: 1px solid #68C250;color: #ffffff;margin-right: 5px}
.check-btn a:nth-child(2){color: #666666;margin-left: 5px}
.check-box .checkbox input[type="checkbox"]:checked + label::before {
    background: #68C250;
    top:0px;
    border: 1px solid #68C250;
}
.check-box .checkbox label::before{
    top: 0px;
}
.check-box .checkbox i{
    position: absolute;
    width: 12px;
    height: 8px;
    /*background: url(../images/icon_pick.png) no-repeat;*/
    top: 4px;
    left: -18px;
    cursor: pointer;
}
.check-box .checkbox input{top: 10px;position:relative}
.check1 .mn1 li label{
    width: 90px;
}