*{padding: 0;margin: 0;list-style-type: none;text-decoration: none;font-family:"Microsoft YaHei",Helvetica,Hiragino Sans GB,Tahoma,Geneva,\5FAE\8F6F\96C5\9ED1,simhei,Arial, sans-serif;}
a{color: #000;text-decoration: none !important;}
body{overflow:hidden;}
h1{font-weight: normal;}
img{border: none;max-width: 100%;}
html, body {position: relative;color: #666666;}
input:focus{outline:none; }

.logo-div{padding: 30px 60px}
/* .login{position: relative;height: 600px;background: url("../images/login-bg2.jpg") no-repeat center} */
/* .login-div{padding-top:4%;margin-right:20%} */
.login-list{width: 370px;height: 320px;background: #ffffff;border-radius: 15px;float: right;box-shadow: 0 0 8px #d5d5d5;}
.login-list>p{text-align:center;line-height: 55px;color: #666666;font-size: 18px;border-radius: 3px;margin-bottom:0;}
.login-list>p a{float: right;font-size: 14px;color: #999999}
.login-list ul{padding: 0px 28px 0;}
.login-list ul input{height: 40px;border: 1px solid #eee;background:#fff;width: 100%;margin-bottom: 10px;padding: 0 10px}
.login-list ul li:nth-child(3) input{width: 205px;}
.login-list ul li:nth-child(3) span{float: right;width: 100px;height: 40px;overflow: hidden;display: inline-block}
.login-list ul button{display: inline-block;border:none;width: 100%;height: 40px;line-height: 40px;text-align: center;color: #ffffff;background: #495572;border-radius: 3px;margin-top: 30px}
.login-bottom{color: #000;position:absolute;bottom:50px;width:100%;}
.login-bottom p{text-align: center;margin-bottom:0;}
 input::-webkit-input-placeholder { /* WebKit browsers */
    color: #c2c2c2;
}
 input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c2c2c2;
}
 input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c2c2c2;
}
 input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #c2c2c2;
}