.load .loader:before,
.load .loader:after,
.load .loader {
    margin: 0 auto;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load 1.8s infinite ease-in-out;
    animation: load 1.8s infinite ease-in-out;
}
.loading-fixed{position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.3);
	z-index:1000000;}
	.load-container{position:absolute;top:40%;left:50%}
.load .loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.load .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.load .loader:after {
    left: 3.5em;
}
.load .loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
@-webkit-keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ccc;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #FFF;
    }
}
@keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ccc;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #FFF;
    }
}
.load-container {


    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.load-container a:link,
.load-container a:visited {
    position: absolute;
    bottom: 3px;
    font-size: 1.15em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    color: #FFF;
}
.load-container a:link:hover,
.load-container a:visited:hover {
    text-decoration: underline;
}